@import "reset";

/* grid framework layout */

$cols: 12;
$margin: 1rem;
$padding: 1rem;

$breakpoint: (
  "xlg": 1400px,
  "lg": 1055px,
  "md": 795px,
  "sm": 534px
);

$space-breakpoint: (
  "xlg": 1,
  "lg": 2,
  "md": 3,
  "sm": 4
);

$sides: (
  "top",
  "bottom",
  "left",
  "right"
);

.margin {
  margin: $margin;
}

.margin-auto {
  margin: auto;
}

.padding {
  padding: $padding;
}

.padding-auto {
  padding: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

@each $side in $sides {
  @each $key, $val in $space-breakpoint {
      .margin-#{$key}-#{$side} {
        margin-#{$side}: $margin / $val;
      }
  }
  .margin-#{$side} {
    margin-#{$side}: auto;
  }
}

@each $side in $sides {
  @each $key, $val in $space-breakpoint {
      .padding-#{$key}-#{$side} {
        padding-#{$side}: $padding / $val;
      }
  }
  .padding-#{$side} {
    padding-#{$side}: auto;
  }
}

.grid > div {
  box-sizing: border-box;
  float: left;
}

@for $i from 1 through $cols {
  $equ: 100% / $i;

  .grid.col-#{$i} > div {
    width: $equ;
  }
}

@each $key, $val in $breakpoint {
  @media all and (max-width: $val) {
    @for $i from 1 through $cols {
      $equ: 100% / $i;

      .grid.col-#{$key}-#{$i} > div {
        width: $equ;
      }
    }
  }
}
/* styles framework */
$white-background: #fff;

.background-w {
  background: $white-background;
}

$fonts: "Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
Helvetica,
"Hiragino Kaku Gothic Pro",
Meiryo,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

.font-name {
  font-family: $fonts;
} 

$color-l-grey-text: #a9a0a0;

.light-grey {
  color: $color-l-grey-text;
}

$color-b-grey-text : #333;

.strong-grey {
  color: $color-b-grey-text;
}

$color-white-txt: #fff;

.color-white {
  color: $color-white-txt;
}
