@import "reset";
/* end of rest */

/* grid framework layout */
.grid > div {
    box-sizing: border-box;
    float: left;
}

$gutter: 26px;

$cols: 12;

@for $i from 1 through $cols {
    $equ: 80% / $i;
    .grid.col-#{$i} > div {
        padding: 0 $gutter;
        width: $equ;
    }
}

$breakpoint: ('xlg': 1400px, 'lg': 1055px, 'md': 795px, 'sm': 534px);

@each $key, $val in $breakpoint {
    @media all and (max-width: $val) {
        @for $i from 1 through $cols {
            $equ: 80% / $i;
            .grid.col-#{$key}-#{$i} > div {
                padding: 0 $gutter;
                width: $equ;
            }
        }
    }
}