/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end of rest */
/* grid framework layout */
.grid > div {
  box-sizing: border-box;
  float: left; }

.grid.col-1 > div {
  margin-left: 0 1%;
  width: 96%; }

.grid.col-2 > div {
  margin-left: 0 1%;
  width: 48%; }

.grid.col-3 > div {
  margin-left: 0 1%;
  width: 32%; }

.grid.col-4 > div {
  margin-left: 0 1%;
  width: 24%; }

.grid.col-5 > div {
  margin-left: 0 1%;
  width: 19.2%; }

.grid.col-6 > div {
  margin-left: 0 1%;
  width: 16%; }

.grid.col-7 > div {
  margin-left: 0 1%;
  width: 13.71429%; }

.grid.col-8 > div {
  margin-left: 0 1%;
  width: 12%; }

.grid.col-9 > div {
  margin-left: 0 1%;
  width: 10.66667%; }

.grid.col-10 > div {
  margin-left: 0 1%;
  width: 9.6%; }

.grid.col-11 > div {
  margin-left: 0 1%;
  width: 8.72727%; }

.grid.col-12 > div {
  margin-left: 0 1%;
  width: 8%; }

@media all and (max-width: 1400px) {
  .grid.col-xlg-1 > div {
    margin-left: 0 1%;
    width: 96%; }

  .grid.col-xlg-2 > div {
    margin-left: 0 1%;
    width: 48%; }

  .grid.col-xlg-3 > div {
    margin-left: 0 1%;
    width: 32%; }

  .grid.col-xlg-4 > div {
    margin-left: 0 1%;
    width: 24%; }

  .grid.col-xlg-5 > div {
    margin-left: 0 1%;
    width: 19.2%; }

  .grid.col-xlg-6 > div {
    margin-left: 0 1%;
    width: 16%; }

  .grid.col-xlg-7 > div {
    margin-left: 0 1%;
    width: 13.71429%; }

  .grid.col-xlg-8 > div {
    margin-left: 0 1%;
    width: 12%; }

  .grid.col-xlg-9 > div {
    margin-left: 0 1%;
    width: 10.66667%; }

  .grid.col-xlg-10 > div {
    margin-left: 0 1%;
    width: 9.6%; }

  .grid.col-xlg-11 > div {
    margin-left: 0 1%;
    width: 8.72727%; }

  .grid.col-xlg-12 > div {
    margin-left: 0 1%;
    width: 8%; } }
@media all and (max-width: 1055px) {
  .grid.col-lg-1 > div {
    margin-left: 0 1%;
    width: 96%; }

  .grid.col-lg-2 > div {
    margin-left: 0 1%;
    width: 48%; }

  .grid.col-lg-3 > div {
    margin-left: 0 1%;
    width: 32%; }

  .grid.col-lg-4 > div {
    margin-left: 0 1%;
    width: 24%; }

  .grid.col-lg-5 > div {
    margin-left: 0 1%;
    width: 19.2%; }

  .grid.col-lg-6 > div {
    margin-left: 0 1%;
    width: 16%; }

  .grid.col-lg-7 > div {
    margin-left: 0 1%;
    width: 13.71429%; }

  .grid.col-lg-8 > div {
    margin-left: 0 1%;
    width: 12%; }

  .grid.col-lg-9 > div {
    margin-left: 0 1%;
    width: 10.66667%; }

  .grid.col-lg-10 > div {
    margin-left: 0 1%;
    width: 9.6%; }

  .grid.col-lg-11 > div {
    margin-left: 0 1%;
    width: 8.72727%; }

  .grid.col-lg-12 > div {
    margin-left: 0 1%;
    width: 8%; } }
@media all and (max-width: 795px) {
  .grid.col-md-1 > div {
    margin-left: 0 1%;
    width: 96%; }

  .grid.col-md-2 > div {
    margin-left: 0 1%;
    width: 48%; }

  .grid.col-md-3 > div {
    margin-left: 0 1%;
    width: 32%; }

  .grid.col-md-4 > div {
    margin-left: 0 1%;
    width: 24%; }

  .grid.col-md-5 > div {
    margin-left: 0 1%;
    width: 19.2%; }

  .grid.col-md-6 > div {
    margin-left: 0 1%;
    width: 16%; }

  .grid.col-md-7 > div {
    margin-left: 0 1%;
    width: 13.71429%; }

  .grid.col-md-8 > div {
    margin-left: 0 1%;
    width: 12%; }

  .grid.col-md-9 > div {
    margin-left: 0 1%;
    width: 10.66667%; }

  .grid.col-md-10 > div {
    margin-left: 0 1%;
    width: 9.6%; }

  .grid.col-md-11 > div {
    margin-left: 0 1%;
    width: 8.72727%; }

  .grid.col-md-12 > div {
    margin-left: 0 1%;
    width: 8%; } }
@media all and (max-width: 534px) {
  .grid.col-sm-1 > div {
    margin-left: 0 1%;
    width: 96%; }

  .grid.col-sm-2 > div {
    margin-left: 0 1%;
    width: 48%; }

  .grid.col-sm-3 > div {
    margin-left: 0 1%;
    width: 32%; }

  .grid.col-sm-4 > div {
    margin-left: 0 1%;
    width: 24%; }

  .grid.col-sm-5 > div {
    margin-left: 0 1%;
    width: 19.2%; }

  .grid.col-sm-6 > div {
    margin-left: 0 1%;
    width: 16%; }

  .grid.col-sm-7 > div {
    margin-left: 0 1%;
    width: 13.71429%; }

  .grid.col-sm-8 > div {
    margin-left: 0 1%;
    width: 12%; }

  .grid.col-sm-9 > div {
    margin-left: 0 1%;
    width: 10.66667%; }

  .grid.col-sm-10 > div {
    margin-left: 0 1%;
    width: 9.6%; }

  .grid.col-sm-11 > div {
    margin-left: 0 1%;
    width: 8.72727%; }

  .grid.col-sm-12 > div {
    margin-left: 0 1%;
    width: 8%; } }

/*# sourceMappingURL=layout.css.map */
