main {
    margin: 5% 13% 5% 8%;
}
.grid > div {
    background-color: blueviolet;
    height: auto;
}

.one{
    background-color: aqua;
    
}
div {
    margin-bottom: 48px;
}
 img {
    height: 240px;
    width:240px;
    margin: 2% 5%;
}

button {
    background-color: brown;
    border-radius: 2px;
    height: 40px;
    width: 240px;
    margin: 0 5% 2% 5%; 
   
    
}
