main {
	background: #000;
	height: 300px;
	margin-top: 20%;
}
.grid > div {
    
    height: auto;
}

.one{
    background-color: aqua;
}
.two{
    background-color: yellow;
}
.three{
    background-color: pink;
}
.four{
    background-color: green;
}
div {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
section {
	padding: 0 5% 0 5%;
}
figure {
	padding-top: 10px;
	width: 100%;
	text-align: center;
}
 img {
    height: 240px;
    width: 240px;
}

button {
    background-color: brown;
    border-radius: 2px;
    height: 40px;
    width: 240px;
}
